body {
    font-family: 'Roboto', sans-serif;
    width: auto;
    height: auto;
    margin: 0px ;
    
}

header {
    display: flex;
    background-color: #ffea00;
    padding: 10px 10px 4px 40px;
    margin:  0px ;
    height: 40px;
}

/* Todos os h3 do header terão essa config */
header h3{
margin: 5px;
color: black;
}

/* Config dos botões do header */
header div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-end;
}

/* Config do botão 'sair' do header */
/* header div:nth-child(3){
    display: flex;
    width: 25%;
    justify-content: flex-end;
    align-items: flex-end;
} */




/* Estilo de butão padrão */
#style-button{
    background-color: white; 
    margin: 0px 2.5px;
    padding: 2px;
}    

.alteracao-margin{
    margin: 10px;
}

.titulo-rotulo{
    background-color:white;
    color: black;
    padding: 3px 0px;
    display: flex;
    justify-content: center;
}

/* Cria uma linha fina para separar seções */
.linha-vertical {
    margin: 20px 200px 3px 200px;
    border-bottom: 2px solid #1B1B1B;
    width: auto;
    border-radius: 10px;

}


body aside h1{
    background-color: white;
    margin: 0px;
}

.background-nav{
    background-color: white;
    padding: 5px 0px;
}

body nav aside{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

body nav aside div{
display: flex;
flex-direction: column;
align-items: center;
}

.background-nav b{
    color: black;
}

body nav aside div h5{
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    }

body nav aside div img{
    margin: 5px;
    background-color: black;
    padding: 3px;
    border-radius: 100px;
}

body nav aside div span{
    background-color: white;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    height: 25px;
    border: 1px solid black;

}

.promos-nav{
    background-color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}
.promos{
    display: flex;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}

.promos div h5 {
    margin: 15px 5px 28px 5px;

}
.promos span h6 {
    margin: 1px 5px;
    text-align: center;
}

.emAlta-aside{
    padding: 5px 0px;
    background-color: white;
}

.componentesDuplos-emAlta {
    display: flex;
    justify-content: space-evenly;
    padding: 5px ;
}

.emAlta-elementos{
    display: flex;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    width: 530px;
}


.emAlta-elementos .centralizar-div h3 {
    padding: 20px 20px;
    margin: 0px;
    
}

.emAlta-elementos .centralizar-div span h4 {
    padding: 0px 20px;
    margin: 0px;
    
}



/**/
footer{
    background-color: #1B1B1B;
    height: auto;
    padding: 5px;
    height: 20px;
}

/**/
footer h6{
    display: flex;
    color: white;
    margin: 2px 0px 0px 0px;
    justify-content: end;
    font-size: medium;

}

a {
  color: white;  
}