body {
    font-family: 'Roboto', sans-serif;
    width: auto;
    height: auto;
    margin: 0px ;
}

.content-header {
    display: flex;
    background-color: #FFBB00;
    padding: 15px;
    margin:  0px ;
    flex-direction: row;
    border: 1px solid black;
}

.content-header div{
    color: black;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-left: 33%;
}

body nav{
    background-color: rgb(170, 170, 170);
}

body nav aside{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

body nav aside div {
    margin: 5px;
    background-color: gray;
    padding: 7px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}